{% extends "bases/base.html" %}
{% load static %}

{% block 'head' %}
    <link 
    href="{% static 'users/css/style.css' %}"
    rel="stylesheet"
    />
{% endblock 'head' %}

{% block 'content' %}
<br>
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <h3 class="font-destaque">Cadastre-se</h3>
    <div class="row">
        <div class="col-md-3" style="text-align: center">
            <img src="{% static 'geral/img/logo.png'%}" alt="">
            <h3>LifeLab</h3>
        </div>
        <div class="col-md-9">
            <form action="{% url 'register' %}" method="POST">{% csrf_token %}
                <label>Primeiro nome</label>
                <br>
                <input type="text" class="input-default" name="first_name">
                <br>
                <br>
                <label>Último nome</label>
                <br>
                <input type="text" class="input-default" name="last_name">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Username</label>
                <br>
                <input type="text" class="input-default w100" name="username">
                <br>
                <br>
                <label>Senha</label>
                <br>
                <input type="password" class="input-default w100" name="password">
            </div>
            <div class="col-md-4">
                <label>E-mail</label>
                <br>
                <input type="text" class="input-default w100" name="email">
                <br>
                <br>
                <label>Confirmar senha</label>
                <br>
                <input type="password" class="input-default w100" name="confirm_password">
            </div>
        </div>
        <br>
        <input type="submit" class="btn-default" value="Cadastrar">
    </form>
</div>
</div>

{% endblock %}